<html>
<head>
    <title>Welcome to ansible, you are topkek!</title>
</head>
    <body>
        <h1>nginx, configured by Ansible</h1>
        <p>If you can see this, Ansible successfully installed nginx.</p>
        <p>This will be the end of humans... true robot overlords!<p>
        <p>{{ ansible_managed }}</p>
    </body>
</html>
